@import './../../../../assets/css/helpers/variables.scss';

.table {
  &__header {
    display: flex;
    color: $text-white;
  }
}

.row {
  background: $gray;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  margin: 1px;
}

.header__name {
  width: 50%;
}

.header__value {
  width: 50%;
}