@use './../../../../assets/css/helpers/variables';

.table {
  border-radius: 5%;

  &__header {
    display: flex;
    color: variables.$white;
  }
}

.row {
  background: variables.$primary-4;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  margin: 1px;
}

.header__name {
  width: 50%;
}

.header__value {
  width: 50%;
}