@import './../../../assets/css/helpers/variables.scss';

.content {
  display: grid;
  justify-content: space-between;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 220px);
}

.title {
  padding-bottom: 50px;
  text-align: center;
  font-size: 24px;
}
.group {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 90px;
  margin: 10px;
  cursor: pointer;
  color: $text-white;
  border: 2px solid $dark-gray;
  border-radius: 10px;
  background-color: $gray;
  font-size: 18px;
  font-weight: 600;

  &__name {
    font-size: 20px;
    line-height: 33px;
  }
}

.group-add {
  width: 200px;
  height: 90px;
  margin: 10px;
  cursor: pointer;
  border: 2px solid $dark-gray;
  border-radius: 10px;
  background: url('./../../../assets/image/plus.svg') center no-repeat;
  background-color: $gray;
}
