<div class="title">
  Список любимых групп
</div>

<div class="content">
  <!--Добавление новой группы-->
  <div
    class="group-add"
    (click)="this.openModalCreateGroup(null)">
  </div>

  <!--Вывод текущих групп-->
  <div *ngFor="let musicalGroup of this.dataRequestService.allMusicalGroups">
    <div
        class="group"
        (click)="this.openModalCreateGroup(musicalGroup)">
      <div class="group__name">{{musicalGroup.name}}</div>
      <div class="group__albums">Альбомы: {{musicalGroup.albums.length}}</div>
      <div class="group__tgracks">Треки: {{musicalGroup.albums.length}}</div>
    </div>
  </div>
</div>