@use './../../../assets/css/helpers/variables';
@use './../../../assets/css/helpers/mixins';

.content__buttons {
  @include mixins.function-buttons;
}

.content__header {
  @include mixins.table-header;
}

.header__name {
  flex: 1;
  margin-left: 80px;
}

.header__genre {
  flex: 0.8;
}

.header__albums {
  flex: 0.5;
  text-align: center;
}

.header__tracks {
  flex: 0.5;
  text-align: center;
}

.header__broke-up {
  flex: 0.5;
  text-align: center;
}

.content__scroll {
  @include mixins.content-page(250px);
}

.scroll__row:nth-child(even) {
  border-radius: 8px;
  background-color: variables.$primary-2-light;
}