@import "./../../../assets/css/helpers/variables";

.content {
  display: grid;
  justify-content: space-between;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 220px);
}

.title {
  padding-bottom: 50px;
  text-align: center;
  font-size: 24px;
}

.group {
  width: 200px;
  height: 100px;
  margin: 10px;
  background-color: $gray;
  border: 2px solid $dark-gray;
  border-radius: 10px;
  cursor: pointer;
}

.group-add {
  background-image: url("./../../../assets/image/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.group-edit {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: $white;
  font-size: 18px;
  font-weight: 600;

  &__name {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
}
