@use './../../../../assets/css/helpers/variables';

.menu {
  margin-top: 60px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    color: variables.$black;
    border-radius: 8px;
    background: variables.$primary-2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
    font-size: 18px;
    font-weight: 500;

    &:hover,
    &-click {
      color: variables.$white;
      background: variables.$primary-4;
    }
  }
}