@import './../../../../assets/css/helpers/variable.scss';

.menu {
  &__item {
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    width: 250px;
    height: 50px;
    background: $gray;
    color: $text-white;
    border-radius: 17px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
    justify-content: center;
    display: flex;
    align-items: center;

    &-click {
      background: $dark-gray;
    }
  }
}