@use './../../../assets/css/helpers/variables';
@use './../../../assets/css/helpers/mixins';

.content__buttons {
  @include mixins.function-buttons;
}

.content__scroll {
  @include mixins.content-page(280px);
}

.content__header {
  @include mixins.table-header;
}

.header__name {
  width: 250px;
  margin-left: 80px;
}

.header__count-group {
  width: 250px;
}

.scroll__row:nth-child(even) {
  border-radius: 8px;
  background-color: variables.$primary-2-light;
}