<div class="body">
  <div class="modal">
    <div class="modal-container">
      <app-modal-header
        [titleModal]="this.titleModal"
        [modalType]="this.enumModalType.MusicalAlbum">
      </app-modal-header>

      <!--Форма для заполнения-->
      <form
          class="form"
          autocomplete="off"
          [formGroup]="this.form"
          (ngSubmit)="this.editMusicalAlbum()">
        <!--Наименование альбома-->
        <mat-form-field>
          <mat-label>Наименование альбома</mat-label>
          <input
            matInput
            formControlName="albumName">

          <mat-error *ngIf="this.form.get('albumName')?.errors?.['required']">
            Обязательное для заполнения поле
          </mat-error>
        </mat-form-field>

        <!--Наименование исполнителя-->
        <mat-form-field>
          <mat-label>Наименование исполнителя</mat-label>
          <mat-select
              formControlName="albumGroupId">
            <mat-option
                *ngFor="let group of this.dataHandlingService.allMusicalGroups"
                [value]="group.id">
              {{group.name}}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="this.form.get('albumGroupId')?.errors?.['required']">
            Обязательное для заполнения поле
          </mat-error>
        </mat-form-field>

        <!--Выбор года альбома-->
        <mat-form-field>
          <mat-label>Год выхода альбома</mat-label>
          <input
            matInput
            maxlength="4"
            minlength="4"
            formControlName="albumYear">

          <mat-error *ngIf="this.form.get('albumYear')?.errors?.['required']">
            Обязательное для заполнения поле
          </mat-error>
        </mat-form-field>

        <!--Прослушано-->
        <mat-checkbox
            formControlName="albumIsListened">
          Альбом прослушан
        </mat-checkbox>

        <!--Кнопки-->
        <div class="form__buttons">
          <button
              mat-raised-button
              class="button"
              (click)="this.closeWindow()">
            Отменить
          </button>
          <button
              mat-raised-button
              class="button"
              [disabled]="this.form.invalid"
              (click)="this.editMusicalAlbum()">
            Сохранить
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
