@use './../assets/css/helpers/variables';

.main {
  background-color: variables.$primary;
}

.content {
  display: flex;
  max-width: 1440px;
  height: calc(100vh - 140px);
  margin: 20px auto auto;

  &__page {
    width: calc(100vw - 390px);
    margin: 0 50px;
  }
}