<div class="main">
  <app-header></app-header>

  <!--Основной контент-->
  <div class="content">
    <div class="content__sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="content__page">
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-footer></app-footer>
</div>

<!--Модальное окно группы-->
<div *ngIf="this.modalStateService.allModalsState.get(this.enumModalType.MusicalGroup)">
  <app-group-edit></app-group-edit>
</div>

<!--Модальное окно альбома-->
<div *ngIf="this.modalStateService.allModalsState.get(this.enumModalType.MusicalAlbum)">
  <app-album-edit></app-album-edit>
</div>

<!--Модальное окно жанра-->
<div *ngIf="this.modalStateService.allModalsState.get(this.enumModalType.MusicalGenre)">
  <app-genre-edit></app-genre-edit>
</div>
