/* Основной используемый в приложении шрифт */
$font-name: 'PT Serif';

/* Основные цвета */
$gray: hsl(0, 1%, 40%);
$dark-gray: hsl(0, 1%, 17%);
$light-gray: hsl(0, 1%, 70%);
$white: hsl(0, 1%, 100%);