<div class="content">
  <div class="content__buttons">
    <button
        mat-flat-button
        class="button-function"
        (click)="this.openModalEditAlbum(null)">
      Добавить новый альбом
    </button>
  </div>

  <div class="content__header">
    <div class="header__name">Наименование</div>
    <div class="header__group">Группа</div>
    <div class="header__year">Год выхода</div>
    <div class="header__tracks">Количество треков</div>
  </div>

  <!--Вывод текущих групп-->
  <div class="content__scroll">
    <div
        *ngFor="let musicalAlbum of this.dataHandlingService.allMusicalAlbums"
        class="scroll__row">
      <app-albums-row
        [musicalAlbum]="musicalAlbum"
        (selectedAlbum)="this.openModalEditAlbum($event)">
      </app-albums-row>
    </div>
  </div>
</div>
