@use './../../../assets/css/helpers/variables';
@use './../../../assets/css/helpers/mixins';

.content__buttons {
  @include mixins.function-buttons;
}

.content__header {
  @include mixins.table-header;
}

.content__scroll {
  @include mixins.content-page(250px);
}

.header__name {
  flex: 1;
  margin-left: 80px;
}

.header__group {
  flex: 1;
}

.header__year {
  flex: 0.5;
  text-align: center;
}

.header__tracks {
  flex: 1;
  text-align: center;
}

.scroll__row:nth-child(even) {
  border-radius: 8px;
  background-color: variables.$primary-2-light;
}