@use './../helpers/variables.scss';

@font-face {
  font-family: variables.$font-name;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Stab'), url('./../../fonts/roboto-slab-regular.woff2') format('woff2');
}

@font-face {
  font-family: variables.$font-name;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Stab'), url('./../../fonts/roboto-slab-medium.woff2') format('woff2');
}

@font-face {
  font-family: variables.$font-name;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Stab'), url('./../../fonts/roboto-slab-semi-bold.woff2') format('woff2');
}

@font-face {
  font-family: variables.$font-name;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Stab'), url('./../../fonts/roboto-slab-bold.woff2') format('woff2');
}