@use './../../../../assets/css/helpers/variables';
@use './../../../../assets/css/helpers/mixins';

/* Затемнение для модального окна */
.body {
  @include mixins.modal-body(500px);
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.form__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.button {
  @include mixins.button-modal;
}