<div class="body">
  <div class="modal">
    <div class="modal-container">
      <!--Заголовок модального окна-->
      <div class="modal__header">
        {{this.titleModal}}
      </div>

      <!--Кнопка закрытия модального окна-->
      <div
          class="modal__close"
          (click)="this.closeWindow()">
        <div class="modal__close-image"></div>
      </div>

      <!--Форма для заполнения-->
      <form
        class="form"
        autocomplete="off"
        [formGroup]="this.createForm"
        (ngSubmit)="this.editMusicalGroup()">

        <!--Наименование групп-->
        <mat-form-field>
          <mat-label>Наименование группы</mat-label>
          <input
            matInput
            formControlName="groupName">
        </mat-form-field>

        <!--Выбор жанра музыки-->
        <mat-form-field>
          <mat-label>Жанр группы</mat-label>
          <mat-select
              formControlName="groupGenre">
            <mat-option
                *ngFor="let genre of this.dataRequestService.allMusicalGenres"
                [value]="genre.id">
              {{genre.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!--Кнопка сохранить-->
        <button
            mat-raised-button
            (click)="this.editMusicalGroup()">
          Сохранить
        </button>
      </form>
    </div>
  </div>
</div>